<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParsePics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5FF09D131D188E9600FA7C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FF09D271D188E9800FA7C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FF09D321D188E9800FA7C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
